#hatrack
  #header
    #font_controls
      %a.fontSize.down -A
      %a.fontSize.reset A
      %a.fontSize.up A+

    #controls
      %a.toggle.yellow Yellow
      %a.toggle.black black
      %a{:href => "/sprints/new"} New Sprint

    #sprints
      - @sprints.each do |sprint|
        %a{:href => "/sprints/show/#{sprint.id}"}= "#{sprint.name} (#{print_date(sprint.start_date) } - #{print_date(sprint.end_date,"Current") })"

    #current_sprint
      %span= @current_sprint.name
      %span= "(#{print_date(@current_sprint.start_date)} - #{print_date(@current_sprint.end_date, 'Current')})"
      %span#edit_sprint= "edit"

      - semantic_form_for @current_sprint do |form|
        - form.inputs do
          = form.input :name
          = form.input :start_date,:input_html => { :class => 'date_input' }
          = form.input :end_date,:input_html => { :class => 'date_input' }
        - form.buttons do
          = form.commit_button
        

  %table#racks
    %tr
      %td#yellow.rack{:style => "width:50%;"}
        .column_header
          %a.add_hat.yellow
            %img{:src =>"/images/add.png"}
        %ul.list
          - @current_sprint.yellow_hats.each do |hat|
            = render :partial => '/hats/yellow', :locals => {:hat => hat}

      %td#black.rack{:style => "width:50%;"}
        .column_header
          %a.add_hat.black
            %img{:src =>"/images/add.png"}

        %ul.list
          - @current_sprint.black_hats.each do |hat|
            = render :partial => '/hats/black', :locals => {:hat => hat} 
        





