#hatrack
  #header
    #font_controls
      %a.fontSize.down -A
      %a.fontSize.reset A
      %a.fontSize.up A+

    #keyboard_controls
      #hints= "Hitting H opens Add Hat window, hitting B or Y next creates a new hat.  While textarea is open Alt-H opens window"

    #column_controls
      .toggle.black
        Black
        %img{:src => '/images/show.png'}
      .toggle.yellow
        Yellow
        %img{:src => '/images/show.png'}

    #current_sprint
      %span#current_name= "#{@current_sprint.name} (#{print_date(@current_sprint.start_date)} - #{print_date(@current_sprint.end_date, 'Current')})"
      %span#edit_sprint= "edit"

      #edit_sprint_form
        - semantic_form_for @current_sprint do |form|
          - form.inputs do
            = form.input :name
            = form.input :start_date,:input_html => { :class => 'date_input' }
            = form.input :end_date,:input_html => { :class => 'date_input' }
          - form.buttons do
            = form.commit_button
            %input.cancel{:type => 'button', :value => 'Cancel'}

      #new_sprint_form
        - semantic_form_for Sprint.new do |form|
          - form.inputs do
            = form.input :name
            = form.input :start_date,:input_html => { :class => 'date_input' }
          - form.buttons do
            = form.commit_button
            %input.cancel{:type => 'button', :value => 'Cancel'}

    %ul#sprints
      - @sprints.each do |sprint|
        %li
          %a{:href => "/sprints/show/#{sprint.id}"}= "#{sprint.name} (#{print_date(sprint.start_date) } - #{print_date(sprint.end_date,"Current") })"

    #logo HatRack

    %a#new_sprint{:href => "/sprints/new"} New Sprint


  %table#racks
    %tr
      %td#yellow.rack{:style => "width:50%;"}
        .column_header
          %img.toggle.yellow{:src => '/images/hide.png'}
          %button.add_hat.yellow{:value => 'yellow'} Add Yellow Hat
        %ul.list
          - @current_sprint.yellow_hats.each do |hat|
            = render :partial => '/hats/yellow', :locals => {:hat => hat}

      %td#black.rack{:style => "width:50%;"}
        .column_header
          %img.toggle.black{:src => '/images/hide.png'}
          %button.add_hat.black{:value => 'black'} Add Black Hat
          
        %ul.list
          - @current_sprint.black_hats.each do |hat|
            = render :partial => '/hats/black', :locals => {:hat => hat} 
        

  #new_hat
    %button.add_hat.yellow{:value => 'yellow'} Add <span class="underline">Y</span>ellow Hat
    %button.add_hat.black{:value => 'black'} Add <span class="underline">B</span>lack Hat



