!!! 5
%html
  %head
    %title Agile Hat Rack
    = include_stylesheets :blueprint, :common,:hatrack, :media => 'screen'

  %body

    = yield


    = link_to 'Logout' , '/users/sign_out', :id => 'logout'

    = include_javascripts :common

    - if session[:font_size]
      :javascript
        Hatrack.font_size = #{session[:font_size]};

    :javascript

      Hatrack.sprint_id = '#{@current_sprint.id}';
      Hatrack.init();

    :javascript

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-15173540-1");
        pageTracker._trackPageview();
      } catch(err) {}


    = render(:partial => "shared/uservoice")

