!!! 5
%html
  %head
    %title Agile Hat Rack
    = include_stylesheets :blueprint, :common, :media => 'screen'

  %body

  = yield


  = include_javascripts :common

  - if session[:font_size]
    :javascript
      Hatrack.font_size = #{session[:font_size]};

  :javascript

    Hatrack.sprint_id = '#{@current_sprint.id}';
    Hatrack.init();

  = render(:partial => "shared/uservoice")

