<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Agile Hat Rack</title>
  <%= include_stylesheets :blueprint, :common, :media => 'all' %>

</head>
<body>

<%= yield %>


<%= include_javascripts :common %>

<script type="text/javascript" charset="utf-8">

  Hatrack.sprint_id = '<%= @current_sprint.id %>';
  <% if session[:font_size] %>
  Hatrack.font_size = <%=  session[:font_size] %>;
  <% end %>
  Hatrack.setup();

</script>
</body>
</html>
